<a href="https://colab.research.google.com/github/haryoadiwibowo/Haryo-Adi-wibowo/blob/main/LFungsi_print_HARYO_ADI_WIBOWO_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama=Haryo Adi Wibowo
Kelas=x-1
Absen=13

MENAMPILKAN TEKS BEBAS

In [ ]:
print=("Haryo Adi Wibowo")

Menampilkan Nilai Variabel

In [3]:
nama_idola = "hannan attaki"

print=("nama_idola")

In [4]:
usia_idola = 15

print=(usia_idola)

In [9]:
jumlah_saudara = 3
print=(jumlah_saudara)

In [10]:
nama_saudara="Imam"
print=("nama_saudara")

Bagian Baru

Bagian Baru

Latihan Soal

 Bagian Baru

In [ ]:
1. Buat variabel nama saudara & tampilan
2. Buat variabel nama jumalh saudara & tampilan

Menampilkan Nilai Variabel Dan String

In [ ]:
print(f"Nama idola saya adalah {nama_idola}. Usianya adalah {usia_idola} tahun.")

Escape String

In [ ]:
print("Nama:Haryo")
print("Kelas:x.1")
print("No. Absen:13")

In [1]:
print("""Nama\t\t:Haryo\nKelas\t\t: X.1\nNo. Absen\t\: 13""")

Nama		:Haryo
Kelas		: X.1
No. Absen	\: 13

<>:1: SyntaxWarning: invalid escape sequence '\:'
<>:1: SyntaxWarning: invalid escape sequence '\:'
/tmp/ipython-input-879669969.py:1: SyntaxWarning: invalid escape sequence '\:'
  print("""Nama\t\t:Haryo\nKelas\t\t: X.1\nNo. Absen\t\: 13""")